.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .productItem {
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /* Definindo a largura fixa em pixels */

    img {
      max-width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    p {
      color: #2c2c2c;
      font-weight: 400;
      font-size: 14px;
      margin-top: 8px;
    }
  }
}




// .ProductContainer {
//   display: flex;
//   flex-wrap: wrap; /* Itens pulam para a próxima linha quando não há espaço */
//   justify-content: space-between;
//   width: 80%;
// }

// .ProductCard {
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   padding: 10px; /* Reduz o padding para cartões menores */
//   margin-bottom: 20px;
//   box-sizing: border-box;
//   text-align: center;
//   flex-grow: 1; /* Itens crescem para ocupar o espaço disponível */
//   max-width: calc(25% - 20px); /* Limita a largura máxima para 25% do espaço disponível */
//   width: 100%; /* Evita que os cartões ultrapassem o limite máximo */
//   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

//   img {
//     max-width: 100%;
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
//   }

//   p {
//     color: #2c2c2c;
//     font-weight: 400;
//     font-size: 14px; /* Reduz o tamanho da fonte para cartões menores */
//     margin-top: 8px; /* Ajusta a margem superior */
//   }
// }






