.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerBorder {
  flex: 1;
  border: none;
  border-bottom: 2px solid #5fccbc;
  outline: none;
  padding-right: 30px;
  background-color: transparent;
  color: #333;
  font-size: 16px;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .productItem {
    width: 200px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    img {
      max-width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    p {
      color: #2c2c2c;
      font-weight: 400;
      font-size: 14px;
      margin-top: 8px;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        white-space: normal;
        z-index: 1;
        cursor: pointer;
      }
    }
  }
}
