.ProductFilter {
  width: 25%;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;

  .containerFilter {
      display: flex;
      justify-content: space-between;
  }

  .containerOptions {
      margin-top: 10px;

      .option {
          margin: 5px 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}
